.container{
    background-color: aliceblue;
}
.Logo{
    align-items:"center";
    justify-content:"center";
    height:"85px";
    width:"25px";
   
   
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height:"95px";
    width:"25px";
   
    transition: 0.4s;
}
.icons:hover{
    background-color: rgb(221, 217, 217);
    border-radius: 7px;
}
.btn{
   font-size: 23px;
   margin-left: 7px;
   margin-right: 2px;
}
.addplatform{
    padding: 8px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom:5px ;
    height:"95px";
    width:"25px";
    transition: 0.4s;
      border-radius: 50%;
    color: #fff;
    font-size: 14px;
}
.addplatformtrue{
    padding: 8px;
    height:"95px";
    width:"20px";

      border-radius: 50%;
    background-color: blue;
    color: #fff;
    font-size: 14px;
    scale: 1.1;
}
 .addplatform:hover{
    scale: 1.1;
}

.imgUser{
    height: 38px;
    width: 45px;
    border-radius:50% ;
    background-color: rgb(221, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgUsertrue{
    height: 40px;
    width: 60px;
    border-radius:50% ;
    background-color: rgb(221, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    scale: 1.1;
}

.nameUser{
    font-size: 12px;
    font-weight: 600;
}
.iconstrue{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height:"95px";
    width:"25px";
    background-color: rgb(221, 217, 217);
    border-radius: 7px;
}
@media only screen and (max-width: 800px) {
   .Container{
       /* display: none; */
    }
  .width{
        width: 390px;
    } 
    .addplatform{
        padding: 8px;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom:7px ;
        height:"95px";
        width:"25px";
        transition: 0.4s;
          border-radius: 50%;
        font-size: 14px;
    }
   }
